In [1]:
import pandas as pd
DATA_DIR = "../data/"

In [2]:
#read tweets

name_tweets = DATA_DIR + "clean_tweets/clean_tweets_all.json"

with open(name_tweets, "r") as file:
    tweets_df = pd.read_json(file, orient='index')
    
print(tweets_df.describe())

         text                                   timestamp  \
count   18473                                       18473
unique  12729                                       13064
top     https  datetime.datetime(2018, 7, 15, 13, 33, 15)
freq       79                                          10

                            tweet
count                       18473
unique                      13063
top     MAKE AMERICA GREAT AGAIN!
freq                           27

In [3]:
tweets_df.head()

,text,timestamp,tweet
0,thank you iowa get out votetrumppence https https,"datetime.datetime(2016, 11, 6, 19, 26, 58)",Thank you Iowa - Get out &amp; #VoteTrumpPence...
1,rt https thank you new hampshire https,"datetime.datetime(2016, 11, 6, 18, 9, 44)",RT @IvankaTrump: Thank you New Hampshire! ????...
2,van jones there is a crack in the blue wall it...,"datetime.datetime(2016, 11, 6, 17, 6, 8)",Van Jones: ‘There Is A Crack in the Blue Wall’...
3,great night in denver colorado thank you toget...,"datetime.datetime(2016, 11, 6, 6, 8, 32)","Great night in Denver, Colorado- thank you! To..."
4,rt https join https live in denver colorado vi...,"datetime.datetime(2016, 11, 6, 4, 27)",RT @DanScavino: Join @realDonaldTrump LIVE in ...

In [4]:
#take a look on the data in every 2k rows
for i in range(0,tweets_df.shape[0],2000):
    print(tweets_df.iloc[i])
    
#notice that they are not in chronological order

text         thank you iowa get out votetrumppence https https
timestamp           datetime.datetime(2016, 11, 6, 19, 26, 58)
tweet        Thank you Iowa - Get out &amp; #VoteTrumpPence...
Name: 0, dtype: object
text         crooked hillary wants to get rid of all guns a...
timestamp           datetime.datetime(2016, 5, 21, 12, 49, 59)
tweet        Crooked Hillary wants to get rid of all guns a...
Name: 2000, dtype: object
text         joe mcquaid https of the dying union leader wa...
timestamp           datetime.datetime(2015, 12, 30, 0, 37, 25)
tweet        Joe McQuaid (@deucecrew) of the dying Union Le...
Name: 4000, dtype: object
text                           will be on https at a m
timestamp    datetime.datetime(2015, 9, 24, 10, 1, 40)
tweet                     Will be on @CNN at 7:00 A.M.
Name: 6000, dtype: object
text         big day at the united nations many good things...
timestamp           datetime.datetime(2017, 9, 19, 11, 21, 30)
tweet        Big day at the United Nations - many good thin...
Name: 8000, dtype: object
text         north korea to be identified as a result of my...
timestamp            datetime.datetime(2018, 9, 20, 18, 10, 6)
tweet        ...North Korea to be identified as a result of...
Name: 10000, dtype: object
text         rt https my oped on the importance of youthspo...
timestamp             datetime.datetime(2018, 3, 2, 2, 59, 37)
tweet        RT @IvankaTrump: My OpEd on the importance of ...
Name: 12000, dtype: object
text         good news out of the house with the passing of...
timestamp           datetime.datetime(2017, 6, 29, 22, 28, 23)
tweet        Good news out of the House with the passing of...
Name: 14000, dtype: object
text         collusion is not a crime but that doesn t matt...
timestamp           datetime.datetime(2018, 7, 31, 11, 58, 58)
tweet        Collusion is not a crime, but that doesn’t mat...
Name: 16000, dtype: object
text         million american to travel this weekend highes...
timestamp          datetime.datetime(2017, 11, 22, 21, 25, 11)
tweet        51 Million American to travel this weekend - h...
Name: 18000, dtype: object

In [5]:
#example how to parse the nice datetime.datetime string...
from datetime import datetime

time = tweets_df["timestamp"][0]
print(time,type(time))
time = time[18:]
print(time)
t = datetime.strptime(time[:len(time)-1], "%Y, %m, %d, %H, %M, %S")
print(t, type(t))

def parse_to_datetime(time_string):
    time = time_string[18:]
    try:
        t = datetime.strptime(time[:len(time)-1], "%Y, %m, %d, %H, %M, %S")
    except ValueError:
        #print("Taivas varjele mikä sieltä tulee!!! Sekunnit puuttuu", time)
        t = datetime.strptime(time[:len(time)-1], "%Y, %m, %d, %H, %M")
        
    return t

datetime.datetime(2016, 11, 6, 19, 26, 58) <class 'str'>
2016, 11, 6, 19, 26, 58)
2016-11-06 19:26:58 <class 'datetime.datetime'>

In [16]:
#change the timestamps to pd.Timestamps
new_tweets_df = tweets_df.copy()
for i, time in enumerate(tweets_df["timestamp"]):
    #parse time to datetime
    t = parse_to_datetime(time)
    #change it to pd.Timestamp
    t = pd.Timestamp.fromtimestamp(t.timestamp())
    new_tweets_df["timestamp"][i] = t
    
new_tweets_df.head()

,text,timestamp,tweet
0,thank you iowa get out votetrumppence https https,2016-11-06 19:26:58,Thank you Iowa - Get out &amp; #VoteTrumpPence...
1,rt https thank you new hampshire https,2016-11-06 18:09:44,RT @IvankaTrump: Thank you New Hampshire! ????...
2,van jones there is a crack in the blue wall it...,2016-11-06 17:06:08,Van Jones: ‘There Is A Crack in the Blue Wall’...
3,great night in denver colorado thank you toget...,2016-11-06 06:08:32,"Great night in Denver, Colorado- thank you! To..."
4,rt https join https live in denver colorado vi...,2016-11-06 04:27:00,RT @DanScavino: Join @realDonaldTrump LIVE in ...

In [20]:
#after wrangling, let's update the original object and sort it by timestamps
tweets_df = new_tweets_df.sort_values(by="timestamp")

tweets_df.head()

,text,timestamp,tweet
7790,https as a nation yearns for justice and equal...,2015-06-14 21:15:20,"""@justrelaxfornow: As a nation yearns for just..."
7789,tuesday will be a big day for our country to d...,2015-06-14 21:18:23,Tuesday will be a big day for our country to d...
7788,tomorrow will be a really big day for america ...,2015-06-15 11:12:50,Tomorrow will be a really big day for America....
7787,https https i d vote twice for you if i could ...,2015-06-15 11:30:53,"""@FuturisticHub: @realDonaldTrump I'd vote twi..."
7786,https https pls run u would be great,2015-06-15 11:40:27,"""@MediciMario: @realDonaldTrump Pls run u woul..."

In [7]:
#read stock data

name_stock = DATA_DIR + "DJI-20years-daily-change.json"

with open(name_stock, "r") as file:
    stock_df = pd.read_json(file, orient="split")
    
print(stock_df.describe())

       daily change
count          6851
unique            6
top          MEDPOS
freq           1753

In [8]:
stock_df.head()

           daily change
2000-01-03       BIGNEG
2000-01-04       BIGPOS
2000-01-05       BIGPOS
2000-01-06       BIGPOS
2000-01-07       MEDPOS

In [9]:
def store_time_stats(t):
    if t.year not in time_bins:
        time_bins[t.year] = 1
    else: time_bins[t.year] += 1
       
    ym = str(t.year) + "-" + str(t.month)
    if ym not in time_bins:
        time_bins[ym] = 1
    else: time_bins[ym] += 1

In [31]:
#assumes that the stocks are ordered by date
def find_right_timestamp_index(start_ind, time):
    for i in range(start_ind, stock_df.shape[0]):
        date = stock_df.index[i]
        if time.date() != date.date():
            continue
        else: 
            #print ("right date!", date, time)
            return i
    return None

In [32]:
#combine the data

classified = pd.DataFrame(columns=["timestamp", "text", "value change"], index=range(tweets_df.shape[0]))
print(classified.shape)
time_bins = {}
latest_date_ind = 0

for i, t in enumerate(tweets_df["timestamp"]):    
    #count how many tweet per year and month
    store_time_stats(t)
    
    #find the date in stocks dataframe
    stamp_ind = find_right_timestamp_index(latest_date_ind, t)
    
    #fetch the change of the tweet's day
    change = stock_df.loc[stock_df.index[stamp_ind], "daily change"]
        
    #remember where we're at so next time we start searching closer to the right place (this is an optimization)
    latest_date_ind = stamp_ind
    
    #save to datastruct
    classified["timestamp"][i] = t
    classified["text"][i] = tweets_df["text"][i]
    classified["value change"][i] = change
    
    if i%500==0: print("progress ", i/classified.shape[0])

(18473, 3)
progress  0.0
progress  0.027066529529583716
progress  0.05413305905916743
progress  0.08119958858875115
progress  0.10826611811833486
progress  0.13533264764791858
progress  0.1623991771775023
progress  0.189465706707086
progress  0.21653223623666973
progress  0.24359876576625344
progress  0.27066529529583716
progress  0.2977318248254209
progress  0.3247983543550046
progress  0.3518648838845883
progress  0.378931413414172
progress  0.40599794294375574
progress  0.43306447247333946
progress  0.4601310020029232
progress  0.4871975315325069
progress  0.5142640610620907
progress  0.5413305905916743
progress  0.5683971201212581
progress  0.5954636496508418
progress  0.6225301791804255
progress  0.6495967087100092
progress  0.676663238239593
progress  0.7037297677691766
progress  0.7307962972987604
progress  0.757862826828344
progress  0.7849293563579278
progress  0.8119958858875115
progress  0.8390624154170953
progress  0.8661289449466789
progress  0.8931954744762627
progress  0.9202620040058463
progress  0.9473285335354301
progress  0.9743950630650138

In [45]:
#some data about how many tweets per year/month
print ("amount of tweets per year or month\n", time_bins)

amount of tweets per year or month
 {2015: 3829, '2015-6': 318, '2015-7': 790, '2015-8': 355, '2015-9': 409, '2015-10': 790, '2015-11': 576, '2015-12': 591, 2016: 4462, '2016-1': 492, '2016-2': 494, '2016-3': 441, '2016-4': 284, '2016-5': 351, '2016-6': 303, '2016-7': 378, '2016-8': 325, '2016-9': 296, '2016-10': 530, '2016-11': 292, '2016-12': 276, 2017: 5274, '2017-1': 428, '2017-2': 308, '2017-3': 294, '2017-4': 304, '2017-5': 310, '2017-6': 424, '2017-7': 490, '2017-8': 534, '2017-9': 640, '2017-10': 650, '2017-11': 500, '2017-12': 392, 2018: 4908, '2018-1': 406, '2018-2': 348, '2018-3': 332, '2018-4': 490, '2018-5': 508, '2018-6': 744, '2018-7': 648, '2018-8': 726, '2018-9': 706}

In [37]:
classified.head()

,timestamp,text,value change
0,2015-06-14 21:15:20,thank you iowa get out votetrumppence https https,MEDNEG
1,2015-06-14 21:18:23,rt https thank you new hampshire https,MEDNEG
2,2015-06-15 11:12:50,van jones there is a crack in the blue wall it...,MEDPOS
3,2015-06-15 11:30:53,great night in denver colorado thank you toget...,MEDPOS
4,2015-06-15 11:40:27,rt https join https live in denver colorado vi...,MEDPOS

In [38]:
classified.describe()

                  timestamp   text value change
count                 18473  18473        18473
unique                13064  12729            6
top     2018-07-15 13:33:15  https       MEDPOS
freq                     10     79         4224

In [47]:
#save the data to a string for fastText
learning_data = ""
for i, change in enumerate(classified["value change"]):
    row = "__label__" + change + " " + classified["text"][i]
    learning_data += row + "\n"
print("thousand first characters\n", learning_data[:1000])

thousand first characters
 __label__MEDNEG thank you iowa get out votetrumppence https https
__label__MEDNEG rt https thank you new hampshire https
__label__MEDPOS van jones there is a crack in the blue wall it has to do with trade https
__label__MEDPOS great night in denver colorado thank you together we will make america great again icymi watch rally here https
__label__MEDPOS rt https join https live in denver colorado via his facebook page we are here makeamericagreatagain https
__label__MEDPOS thank you reno nevada nothing will stop us in our quest to make america safe and great again americafirst https
__label__MEDPOS join me live in reno nevada https https
__label__MEDPOS join me tomorrow minnesota pm https michigan pm https virginia p https
__label__MEDPOS draintheswamp https
__label__MEDPOS top clinton aides bemoan campaign all tactics no vision https
__label__MEDPOS must act immediately clinton charity lawyer told execs they were breaking the law https
__label__MEDPOS watch coach mike ditka a great guy

In [44]:
#write to file

with open(DATA_DIR + "learning_data_all.txt", "w") as file:
    file.write(learning_data)