In [1]:
import pandas as pd
DATA_DIR = "../data/"

In [140]:
#read tweets

name_tweets = DATA_DIR + "clean_tweets/clean_tweets_all.json"
#name_tweets = DATA_DIR + "clean_tweets/clean_tweets_before.json"
#name_tweets = DATA_DIR + "clean_tweets/clean_tweets_after.json"

with open(name_tweets, "r") as file:
    tweets_df = pd.read_json(file, orient='index')
    
print(tweets_df.describe())

         text                                   timestamp  \
count   13132                                       13132
unique  12729                                       13064
top     https  datetime.datetime(2018, 7, 15, 13, 33, 15)
freq       42                                           5

                            tweet
count                       13132
unique                      13063
top     MAKE AMERICA GREAT AGAIN!
freq                           18

In [157]:
tweets_df.tail()

,text,timestamp,tweet
9937,rd session of the united nations general assem...,2018-09-25 22:06:33,73rd Session of the United Nations General Ass...
9936,these law enforcement people took the law into...,2018-09-26 02:38:54,“These law enforcement people took the law int...
9935,the democrats are playing a high level con gam...,2018-09-26 02:55:20,The Democrats are playing a high level CON GAM...
9934,consumer confidence hits an year high close to...,2018-09-26 10:54:59,"Consumer confidence hits an 18 year high, clos..."
9933,jobless claims fell to their lowest level in y...,2018-09-26 10:57:30,Jobless Claims fell to their lowest level in 4...

In [142]:
#take a look on the data in every 2k rows
for i in range(0,tweets_df.shape[0],2000):
    print(tweets_df.iloc[i])
    
#notice that they are not in chronological order

text         thank you iowa get out votetrumppence https https
timestamp           datetime.datetime(2016, 11, 6, 19, 26, 58)
tweet        Thank you Iowa - Get out &amp; #VoteTrumpPence...
Name: 0, dtype: object
text         crooked hillary wants to get rid of all guns a...
timestamp           datetime.datetime(2016, 5, 21, 12, 49, 59)
tweet        Crooked Hillary wants to get rid of all guns a...
Name: 2000, dtype: object
text         joe mcquaid https of the dying union leader wa...
timestamp           datetime.datetime(2015, 12, 30, 0, 37, 25)
tweet        Joe McQuaid (@deucecrew) of the dying Union Le...
Name: 4000, dtype: object
text                           will be on https at a m
timestamp    datetime.datetime(2015, 9, 24, 10, 1, 40)
tweet                     Will be on @CNN at 7:00 A.M.
Name: 6000, dtype: object
text         big day at the united nations many good things...
timestamp           datetime.datetime(2017, 9, 19, 11, 21, 30)
tweet        Big day at the United Nations - many good thin...
Name: 8000, dtype: object
text         north korea to be identified as a result of my...
timestamp            datetime.datetime(2018, 9, 20, 18, 10, 6)
tweet        ...North Korea to be identified as a result of...
Name: 10000, dtype: object
text         rt https my oped on the importance of youthspo...
timestamp             datetime.datetime(2018, 3, 2, 2, 59, 37)
tweet        RT @IvankaTrump: My OpEd on the importance of ...
Name: 12000, dtype: object

In [143]:
#example how to parse the nice datetime.datetime string...
from datetime import datetime

time = tweets_df["timestamp"][0]
print(time,type(time))
time = time[18:]
print(time)
t = datetime.strptime(time[:len(time)-1], "%Y, %m, %d, %H, %M, %S")
print(t, type(t))

def parse_to_datetime(time_string):
    time = time_string[18:]
    try:
        t = datetime.strptime(time[:len(time)-1], "%Y, %m, %d, %H, %M, %S")
    except ValueError:
        #print("Taivas varjele mikä sieltä tulee!!! Sekunnit puuttuu", time)
        t = datetime.strptime(time[:len(time)-1], "%Y, %m, %d, %H, %M")
        
    return t

datetime.datetime(2016, 11, 6, 19, 26, 58) <class 'str'>
2016, 11, 6, 19, 26, 58)
2016-11-06 19:26:58 <class 'datetime.datetime'>

In [144]:
#change the timestamps to pd.Timestamps
new_tweets_df = tweets_df.copy()
for i, time in enumerate(tweets_df["timestamp"]):
    #parse time to datetime
    t = parse_to_datetime(time)
    #change it to pd.Timestamp
    t = pd.Timestamp.fromtimestamp(t.timestamp())
    new_tweets_df["timestamp"][i] = t
    
new_tweets_df.head()

,text,timestamp,tweet
0,thank you iowa get out votetrumppence https https,2016-11-06 19:26:58,Thank you Iowa - Get out &amp; #VoteTrumpPence...
1,rt https thank you new hampshire https,2016-11-06 18:09:44,RT @IvankaTrump: Thank you New Hampshire! ????...
2,van jones there is a crack in the blue wall it...,2016-11-06 17:06:08,Van Jones: ‘There Is A Crack in the Blue Wall’...
3,great night in denver colorado thank you toget...,2016-11-06 06:08:32,"Great night in Denver, Colorado- thank you! To..."
4,rt https join https live in denver colorado vi...,2016-11-06 04:27:00,RT @DanScavino: Join @realDonaldTrump LIVE in ...

In [156]:
#after wrangling, let's update the original object and sort it by timestamps
tweets_df = new_tweets_df.sort_values(by="timestamp")

tweets_df.tail()

,text,timestamp,tweet
9937,rd session of the united nations general assem...,2018-09-25 22:06:33,73rd Session of the United Nations General Ass...
9936,these law enforcement people took the law into...,2018-09-26 02:38:54,“These law enforcement people took the law int...
9935,the democrats are playing a high level con gam...,2018-09-26 02:55:20,The Democrats are playing a high level CON GAM...
9934,consumer confidence hits an year high close to...,2018-09-26 10:54:59,"Consumer confidence hits an 18 year high, clos..."
9933,jobless claims fell to their lowest level in y...,2018-09-26 10:57:30,Jobless Claims fell to their lowest level in 4...

In [154]:
t#weets_part_df = tweets_df[-5341:]
p#rint(tweets_part_df.head())

                                                   text            timestamp  \
9932  hey missouri let s defeat crooked hillary http...  2016-11-07 22:21:53
9931  live on periscope join me for a few minutes in...  2016-11-07 23:28:48
9930  thank you pennsylvania going to new hampshire ...  2016-11-08 00:08:28
9929  today in florida i pledged to stand with the p...  2016-11-08 00:16:15
9928  big news to share in new hampshire tonight pol...  2016-11-08 00:17:57

                                                  tweet
9932  Hey Missouri let's defeat Crooked Hillary &amp...
9931  LIVE on #Periscope: Join me for a few minutes ...
9930  Thank you Pennsylvania! Going to New Hampshire...
9929  Today in Florida, I pledged to stand with the ...
9928  Big news to share in New Hampshire tonight! Po...

In [155]:
#tweets_part_df.describe()

         text            timestamp                      tweet
count    5341                 5341                       5341
unique   5176                 5274                       5285
top     https  2018-07-15 13:33:15  MAKE AMERICA GREAT AGAIN!
freq       37                    5                          9

In [147]:
#read stock data

name_stock = DATA_DIR + "DJI-20years-daily-change.json"

with open(name_stock, "r") as file:
    stock_df = pd.read_json(file, orient="split")
    
print(stock_df.describe())

       daily change
count          6851
unique            6
top          MEDPOS
freq           1753

In [148]:
stock_df.head()

           daily change
2000-01-03       BIGNEG
2000-01-04       BIGPOS
2000-01-05       BIGPOS
2000-01-06       BIGPOS
2000-01-07       MEDPOS

In [149]:
def store_time_stats(t):
    if t.year not in time_bins:
        time_bins[t.year] = 1
    else: time_bins[t.year] += 1
       
    ym = str(t.year) + "-" + str(t.month)
    if ym not in time_bins:
        time_bins[ym] = 1
    else: time_bins[ym] += 1

In [150]:
#assumes that the stocks are ordered by date
def find_right_timestamp_index(start_ind, time):
    for i in range(start_ind, stock_df.shape[0]):
        date = stock_df.index[i]
        if time.date() != date.date():
            continue
        else: 
            #print ("right date!", date, time)
            return i
    return None

In [152]:
#combine the data
#Original tweets added to dataframe! -Venla

classified = pd.DataFrame(columns=["timestamp", "text", "tweet", "value change"], index=range(tweets_df.shape[0]))
print(classified.shape)
time_bins = {}
latest_date_ind = 0

for i, t in enumerate(tweets_df["timestamp"]):    
    #count how many tweet per year and month
    store_time_stats(t)
    
    #find the date in stocks dataframe
    stamp_ind = find_right_timestamp_index(latest_date_ind, t)
    
    #fetch the change of the tweet's day
    change = stock_df.loc[stock_df.index[stamp_ind], "daily change"]
        
    #remember where we're at so next time we start searching closer to the right place (this is an optimization)
    latest_date_ind = stamp_ind
    
    #save to datastruct
    classified["timestamp"][i] = t
    classified["text"][i] = tweets_df["text"][i]
    classified["tweet"][i] = tweets_df["tweet"][i]
    classified["value change"][i] = change
    
    if i%500==0: print("progress ", i/classified.shape[0])

(7791, 4)
progress  0.0
progress  0.06417661404184315
progress  0.1283532280836863
progress  0.19252984212552945
progress  0.2567064561673726
progress  0.32088307020921575
progress  0.3850596842510589
progress  0.44923629829290207
progress  0.5134129123347452
progress  0.5775895263765883
progress  0.6417661404184315
progress  0.7059427544602747
progress  0.7701193685021178
progress  0.834295982543961
progress  0.8984725965858041
progress  0.9626492106276473
progress  1.0268258246694904
progress  1.0910024387113335
progress  1.1551790527531767
progress  1.2193556667950198
progress  1.283532280836863
progress  1.3477088948787062
progress  1.4118855089205493
progress  1.4760621229623925
progress  1.5402387370042356
progress  1.6044153510460788
progress  1.668591965087922

In [113]:
#some data about how many tweets per year/month
print ("amount of tweets per year or month\n", time_bins)

amount of tweets per year or month
 {2016: 250, '2016-11': 112, '2016-12': 138, 2017: 2637, '2017-1': 214, '2017-2': 154, '2017-3': 147, '2017-4': 152, '2017-5': 155, '2017-6': 212, '2017-7': 245, '2017-8': 267, '2017-9': 320, '2017-10': 325, '2017-11': 250, '2017-12': 196, 2018: 2454, '2018-1': 203, '2018-2': 174, '2018-3': 166, '2018-4': 245, '2018-5': 254, '2018-6': 372, '2018-7': 324, '2018-8': 363, '2018-9': 353}

In [139]:
classified.head()

,timestamp,text,tweet,value change
0,2015-06-14 21:15:20,thank you iowa get out votetrumppence https https,Thank you Iowa - Get out &amp; #VoteTrumpPence...,MEDNEG
1,2015-06-14 21:18:23,rt https thank you new hampshire https,RT @IvankaTrump: Thank you New Hampshire! ????...,MEDNEG
2,2015-06-15 11:12:50,van jones there is a crack in the blue wall it...,Van Jones: ‘There Is A Crack in the Blue Wall’...,MEDPOS
3,2015-06-15 11:30:53,great night in denver colorado thank you toget...,"Great night in Denver, Colorado- thank you! To...",MEDPOS
4,2015-06-15 11:40:27,rt https join https live in denver colorado vi...,RT @DanScavino: Join @realDonaldTrump LIVE in ...,MEDPOS

In [115]:
# Suffling and splitting the dataframe into train and valid dataframes
from sklearn.model_selection import train_test_split
train, valid = train_test_split(classified, test_size=0.15)

In [116]:
valid.head()

,timestamp,text,tweet,value change
120,2016-12-03 16:37:27,big election tomorrow in the great state of al...,Big election tomorrow in the Great State of Al...,MEDPOS
4320,2018-07-03 23:13:34,lottery continues deadly catch and release and...,"...lottery, continues deadly catch-and-release...",BIGPOS
2011,2017-09-25 11:44:05,the green party just dropped its recount suit ...,The Green Party just dropped its recount suit ...,SMANEG
1542,2017-08-03 16:04:10,big interview tonight by henry kravis at the b...,Big interview tonight by Henry Kravis at The B...,MEDPOS
4300,2018-06-30 19:44:09,if it was the goal of russia to create discord...,If it was the GOAL of Russia to create discord...,MEDPOS

In [117]:
# Method to make a txt-file out of dataframe for FastText
def save_txt(dataframe, filename):
    learning_data = ""
    for i in range(0, len(dataframe)):
        ind = dataframe.index[i]
        change = dataframe["value change"][ind]
        text = dataframe["text"][ind]
        
        row = "__label__" + change + " " + text
        learning_data += row + "\n"
    print("thousand first characters\n", learning_data[:1000])
    with open(DATA_DIR + filename, "w") as file:
        file.write(learning_data)

In [118]:
save_txt(train, "trump_train.txt")
save_txt(valid, "trump_valid.txt")

thousand first characters
 __label__SMANEG why isn t the house intelligence committee looking into the bill hillary deal that allowed big uranium to go to russia russian speech
__label__MEDNEG dianne is the person leading our nation on collusion with russia only done by dems will she now investigate https
__label__SMANEG rt https thanks for watching https
__label__BIGNEG heading back home from singapore after a truly amazing visit great progress was made on the denuclearization of no https
__label__BIGPOS i really don t care do u written on the back of melania s jacket refers to the fake news media melania has le https
__label__BIGPOS today it was my great honor to welcome president marcelo rebelo de sousa of portugal to the https https
__label__SMAPOS today it was my honor to welcome estonia president https lithuania president https lt and lat https
__label__SMAPOS we grieve for the terrible loss of life and send our support and love to everyone affected by this horrible attack https
__label__BIGNEG thank you f
thousand first characters
 __label__MEDPOS big election tomorrow in the great state of alabama vote for senator luther strange tough on crime border will never let you down
__label__BIGPOS lottery continues deadly catch and release and bars enforcement even for future illegal immigrants voting for https
__label__SMANEG the green party just dropped its recount suit in pennsylvania and is losing votes in wisconsin recount just a stein scam to raise money
__label__MEDPOS big interview tonight by henry kravis at the business council of washington looking forward to it
__label__MEDPOS if it was the goal of russia to create discord disruption and chaos within the u s then with all of the committe https
__label__MEDNEG wacky totally unhinged tom steyer who has been fighting me and my make america great again agenda from beginning never wins elections
__label__MEDPOS roger goodell of nfl just put out a statement trying to justify the total disrespect certain players show to our country tell them to stand
__label__BIGPOS

In [47]:
#save the data to a string for fastText
#learning_data = ""
#for i, change in enumerate(classified["value change"]):
#    row = "__label__" + change + " " + classified["text"][i]
#    learning_data += row + "\n"
#print("thousand first characters\n", learning_data[:1000])

thousand first characters
 __label__MEDNEG thank you iowa get out votetrumppence https https
__label__MEDNEG rt https thank you new hampshire https
__label__MEDPOS van jones there is a crack in the blue wall it has to do with trade https
__label__MEDPOS great night in denver colorado thank you together we will make america great again icymi watch rally here https
__label__MEDPOS rt https join https live in denver colorado via his facebook page we are here makeamericagreatagain https
__label__MEDPOS thank you reno nevada nothing will stop us in our quest to make america safe and great again americafirst https
__label__MEDPOS join me live in reno nevada https https
__label__MEDPOS join me tomorrow minnesota pm https michigan pm https virginia p https
__label__MEDPOS draintheswamp https
__label__MEDPOS top clinton aides bemoan campaign all tactics no vision https
__label__MEDPOS must act immediately clinton charity lawyer told execs they were breaking the law https
__label__MEDPOS watch coach mike ditka a great guy

In [44]:
#write to file
#with open(DATA_DIR + "learning_data_all.txt", "w") as file:
#    file.write(learning_data)

In [119]:
with open(DATA_DIR + 'trump_valid.json', 'w') as file:
    file.write(valid.to_json(orient='index'))

In [120]:
with open(DATA_DIR + 'trump_valid.json', "r") as file:
    test = pd.read_json(file, orient='index')

In [121]:
test.head()

,text,timestamp,tweet,value change
120,big election tomorrow in the great state of al...,2016-12-03 16:37:27,Big election tomorrow in the Great State of Al...,MEDPOS
4320,lottery continues deadly catch and release and...,2018-07-03 23:13:34,"...lottery, continues deadly catch-and-release...",BIGPOS
2011,the green party just dropped its recount suit ...,2017-09-25 11:44:05,The Green Party just dropped its recount suit ...,SMANEG
1542,big interview tonight by henry kravis at the b...,2017-08-03 16:04:10,Big interview tonight by Henry Kravis at The B...,MEDPOS
4300,if it was the goal of russia to create discord...,2018-06-30 19:44:09,If it was the GOAL of Russia to create discord...,MEDPOS