In [1]:
import pandas as pd
DATA_DIR = "../data/"

In [38]:
#read tweets

name_tweets = DATA_DIR + "clean_tweets/clean_tweets_all.json"

with open(name_tweets, "r") as file:
    tweets_df = pd.read_json(file, orient='index')
    
print(tweets_df.describe())

         text                                   timestamp
count   18473                                       18473
unique  12729                                       13064
top     https  datetime.datetime(2018, 7, 15, 13, 33, 15)
freq       79                                          10

In [39]:
tweets_df.head()

,text,timestamp
0,thank you iowa get out votetrumppence https https,"datetime.datetime(2016, 11, 6, 19, 26, 58)"
1,rt https thank you new hampshire https,"datetime.datetime(2016, 11, 6, 18, 9, 44)"
2,van jones there is a crack in the blue wall it...,"datetime.datetime(2016, 11, 6, 17, 6, 8)"
3,great night in denver colorado thank you toget...,"datetime.datetime(2016, 11, 6, 6, 8, 32)"
4,rt https join https live in denver colorado vi...,"datetime.datetime(2016, 11, 6, 4, 27)"

In [73]:
#example how to parse the nice datetime.datetime string...
from datetime import datetime

time = tweets_df["timestamp"][0]
print(time)
time = time[18:]
print(time)
t = datetime.strptime(time[:len(time)-1], "%Y, %m, %d, %H, %M, %S")
print(t)

def parse_to_datetime(time_string):
    time = time_string[18:]
    try:
        t = datetime.strptime(time[:len(time)-1], "%Y, %m, %d, %H, %M, %S")
    except ValueError:
        #print("Taivas varjele mikä sieltä tulee!!! Sekunnit puuttuu", time)
        t = datetime.strptime(time[:len(time)-1], "%Y, %m, %d, %H, %M")
        
    return t

datetime.datetime(2016, 11, 6, 19, 26, 58)
2016, 11, 6, 19, 26, 58)
2016-11-06 19:26:58

In [31]:
#read stock data

name_stock = DATA_DIR + "DJI-20years-daily-change.json"

with open(name_stock, "r") as file:
    stock_df = pd.read_json(file, orient="split")
    
print(stock_df.describe())

       daily change
count          6851
unique            6
top          MEDPOS
freq           1753

In [33]:
stock_df.head()

           daily change
2000-01-03       BIGNEG
2000-01-04       BIGPOS
2000-01-05       BIGPOS
2000-01-06       BIGPOS
2000-01-07       MEDPOS

In [83]:
#combine the data

classified = pd.DataFrame(columns=["timestamp", "text", "value change"], index=tweets_df.index)
print(classified.shape)
for i, text in enumerate(tweets_df["text"]):
    if i%500==0: print("progress ", i/classified.shape[0])
        
    time = tweets_df["timestamp"][i]
    t = parse_to_datetime(time)
    
    #find the date in stocks dataframe
    
    
    #fetch the change of the tweet's day
    change = stock_df.loc[stock_df.index[0], "daily change"]
    
    #save to datastruct
    classified["timestamp"][i] = t
    classified["text"][i] = text
    classified["value change"][i] = change

(18473, 3)
progress  0.0
progress  0.027066529529583716
progress  0.05413305905916743
progress  0.08119958858875115
progress  0.10826611811833486
progress  0.13533264764791858
progress  0.1623991771775023
progress  0.189465706707086
progress  0.21653223623666973
progress  0.24359876576625344
progress  0.27066529529583716
progress  0.2977318248254209
progress  0.3247983543550046
progress  0.3518648838845883
progress  0.378931413414172
progress  0.40599794294375574
progress  0.43306447247333946
progress  0.4601310020029232
progress  0.4871975315325069
progress  0.5142640610620907
progress  0.5413305905916743
progress  0.5683971201212581
progress  0.5954636496508418
progress  0.6225301791804255
progress  0.6495967087100092
progress  0.676663238239593
progress  0.7037297677691766
progress  0.7307962972987604
progress  0.757862826828344
progress  0.7849293563579278
progress  0.8119958858875115
progress  0.8390624154170953
progress  0.8661289449466789
progress  0.8931954744762627
progress  0.9202620040058463
progress  0.9473285335354301
progress  0.9743950630650138

In [84]:
print(classified.describe())
print(classified.head())
classified.tail()

                  timestamp   text value change
count                 18473  18473        18473
unique                13064  12729            1
top     2018-07-15 13:33:15  https       BIGNEG
freq                     10     79        18473
             timestamp                                               text  \
0  2016-11-06 19:26:58  thank you iowa get out votetrumppence https https
1  2016-11-06 18:09:44             rt https thank you new hampshire https
2  2016-11-06 17:06:08  van jones there is a crack in the blue wall it...
3  2016-11-06 06:08:32  great night in denver colorado thank you toget...
4  2016-11-06 04:27:00  rt https join https live in denver colorado vi...

  value change
0       BIGNEG
1       BIGNEG
2       BIGNEG
3       BIGNEG
4       BIGNEG

,timestamp,text,value change
18468,2017-09-30 19:43:54,congresswoman jennifer gonzalez colon of puert...,BIGNEG
18469,2017-09-30 19:30:17,just spoke to governor kenneth mapp of the u s...,BIGNEG
18470,2017-09-30 19:19:36,the governor of puerto rico ricardo rossello i...,BIGNEG
18471,2017-09-30 18:04:59,despite the fake news media in conjunction wit...,BIGNEG
18472,2017-09-30 12:07:09,the fake news networks are working overtime in...,BIGNEG

In [5]:
#save the data for model training