In [1]:
import pandas as pd
DATA_DIR = "../data/"

In [3]:
#read tweets

name_tweets = DATA_DIR + "clean_tweets/clean_tweets_all.json"

with open(name_tweets, "r") as file:
    tweets_df = pd.read_json(file, orient='index')
    
print(tweets_df.describe())

         text                                   timestamp
count   18473                                       18473
unique  12729                                       13064
top     https  datetime.datetime(2018, 7, 15, 13, 33, 15)
freq       79                                          10

In [4]:
tweets_df.head()

,text,timestamp
0,thank you iowa get out votetrumppence https https,"datetime.datetime(2016, 11, 6, 19, 26, 58)"
1,rt https thank you new hampshire https,"datetime.datetime(2016, 11, 6, 18, 9, 44)"
2,van jones there is a crack in the blue wall it...,"datetime.datetime(2016, 11, 6, 17, 6, 8)"
3,great night in denver colorado thank you toget...,"datetime.datetime(2016, 11, 6, 6, 8, 32)"
4,rt https join https live in denver colorado vi...,"datetime.datetime(2016, 11, 6, 4, 27)"

In [5]:
#read stock data

name_stock = DATA_DIR + "DJI-20years-daily-change.json"

with open(name_stock, "r") as file:
    stock_df = pd.read_json(file)
    
print(stock_df.describe())

       daily change
count          6851
unique            6
top          MEDPOS
freq           1753

In [6]:
#combine the data

classified = pd.DataFrame(index=tweets_df.index)

In [5]:
#save the data for model training